:root {
  --primary-color: #fecaca;
  --secondary-color: #8498cf;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  font-size: 1.5rem;
  padding: 1rem;
  width: 80%;
  border-radius: 25px;
}
body {
  background-color: #fecaca;
}
